# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints/
/data/

# Data and logs
*.log
*.csv
*.tsv
*.data
*.dat
*.out
*.db
*.sqlite
*.h5
*.pkl
*.json
*.zip
*.gz

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Build
build/
dist/
*.egg-info/


